.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);

    position: relative;/*o cabecalho vai ser o referncial de posicionamento*/
    align-items: center;/*alinhar alinhamento vertical*/
}

.cabecalho__menu{
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.container__imagem{
    padding: 1em;
}

.lista__menu{
    display: none;//desaparece o menu 
    position: absolute; /*vai ficar por cima dos outros itens */
    top:100%; /*fique 100 abaixo do cabeçalho, que é a referencia e esta*/
}

.container__botao:checked~.lista__menu {
    display: block;
  }

  /*fazer o menu ficar pra baixo*/
