.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
}

.cabecalho__menu{
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.container__imagem{
    padding: 1em;
}

.lista__menu{
    display: none;//desaparece o menu 
}

.container__botao:checked~.lista__menu{/**/ se o cotnainer botao estiver clicado eu vou pegar o lista menu e aplicar a propriedade para block
    display: block; //o til ta dizendo que qdo isso contecer eu vou mudar essa daqui para essa daqui
}